---

---
<div class="mx-auto max-w-7xl pb-24 px-2 sm:px-6 lg:px-8">
    <h1 class="font-bold text-4xl py-8 text-gray-800">About</h1>
    <p class="text-lg leading-8 text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum reiciendis excepturi, et ipsum eveniet culpa error nam laudantium numquam voluptas recusandae quo eaque deleniti nobis autem. Praesentium quas magni, nisi id deleniti maxime magnam reiciendis. Debitis in possimus harum hic sequi eaque sapiente, distinctio, incidunt cupiditate consequatur dolorem vel qui consectetur non ullam ipsum placeat? Earum libero ratione, velit eos ullam dolorum aut saepe, modi accusamus quia nihil ab adipisci rem, excepturi nulla quam est consequatur blanditiis. Velit ratione deleniti dignissimos dolorem ab aliquid possimus perferendis ad beatae. Dolores consequuntur cum rem sequi voluptate quaerat quibusdam laborum nihil itaque fugiat.</p>
</div>