---

---
<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="mb-4">
        <img src="/computer.jpg" class="object-cover h-[40rem] w-full rounded-md" alt="">
    </div>
    <div class="grid grid-cols-4 gap-4">
        <div> 
            <img src="/computer.jpg" class="rounded-md" alt="">
        </div>
        <div> 
            <img src="/computer.jpg" class="rounded-md" alt="">
        </div>
        <div> 
            <img src="/computer.jpg" class="rounded-md" alt="">
        </div>
        <div> 
            <img src="/computer.jpg" class="rounded-md" alt="">
        </div>
    </div>
</div>