---

---
<nav class="bg-transparent">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between">
            <div class="w-10 h-10 m-2">
                <img src="favicon.svg" alt="">
            </div>
            <ul class="grid grid-flow-col gap-8 text-gray-900">
                <li>Home</li>
                <li>pelayanan</li>
                <li>Galery</li>
                <li>contact</li>
            </ul>
        </div>
    </div>
</nav>