---

---
<nav class="bg-gray-50">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="w-12 h-12">
        <img src="/favicon.svg" alt="">
      </div>
      <div class="flex space-x-4">
        <a href="#" class="font-bold text-gray-700">Home</a>
        <a href="#" class="font-bold text-gray-700">About</a>
        <a href="#" class="font-bold text-gray-700">Galery</a>
        <a href="#" class="font-bold text-gray-700">Contact</a>
      </div>
    </div>
  </div>
</nav>
